{% extends 'base.html.twig' %}

{% block body %}
    <main class="container mt-5">
        <section class="row">
            <div class="col-12">
                <h3>Panier</h3>
                <hr>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for element in data %}
                            <tr>
                                <td>{{ element.product.name }}</td>
                                <td>{{ element.product.price / 100 }} €</td>
                                <td>{{ element.quantity }}</td>
                                <td>{{ element.quantity * element.product.price / 100 }} €</td>
                                <td>
                                    <a href="{{ path('cart_add', {id: element.product.id}) }}" class="btn btn-success">+</a>
                                    <a href="{{ path('cart_remove', {id: element.product.id}) }}" class="btn btn-warning">-</a>
                                    <a href="{{ path('cart_delete', {id: element.product.id}) }}" class="btn btn-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">Votre panier est vide</td>
                            </tr>    
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">Total</td>
                            <td>{{ total / 100 }} €</td>
                            <td>
                                <a href="{{ path('cart_empty') }}" class="btn btn-danger">Vider</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <a href="{{ path('app_orders_add') }}" class="btn btn-primary">Valider le panier</a>
            </div>
        </section>
    </main>
{% endblock %}
