{% extends "base.html.twig" %}

{% block title %}Détails de
    {{ product.name }}
{% endblock %}

{% block body %}
    <main class="container my-5">
        <section class="row">
            <div class="col-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        {% for iteration in 1..product.images|length %}
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ iteration - 1 }}" {{ (loop.first ) ?'class="active" aria-current="true"' : '' }} aria-label="Slide {{ iteration }}"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for image in product.images %}
                            <div class="carousel-item {{ (loop.first ) ? 'active' : '' }}">
                                <img src="{{ asset('assets/uploads/products/mini/300x300-') ~ image.name }}" class="d-block w-100" alt="{{ product.name }}">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-6">
                <h3 class="mb-4">{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <hr style="margin-bottom: 10px">
                <small style="font-style: italic">{{ product.categories.name }}</small>
                <hr style="margin-bottom: 10px">
                <p style="font-size: 25px; font-weight: bold">{{ product.price / 100 }} $</p>
                {% if product.stock > 0 %}
                    <a href="{{ path('cart_add', {id: product.id}) }}" class="btn btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                        </svg>
                        <small style="margin-left: 5px">Ajouter au panier</small>
                    </a>
                {% else %}
                    <p class="text-danger small">Temporairement en rupture de stock</p>
                {% endif %}
                <br>
            </div>
        </section>
    </main>
{% endblock %}
